<h4>Detalle de la factura</h4>

@if (items.length > 0) {
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Sub-Total</th>
                        <th>Eliminar</th>
                        
                       
                    </tr>
                </thead>
                <tbody>
                    @for (item of items; track $index) {
                        <tr row-item [item]="item" (deleteEventEmitter)="OnDelete($event)"></tr>
                }
                </tbody>
            </table>
        }
        @else {
            <p class="alert alert-warning">No hay items en la factura</p>
        }
